body {
  background-color: powderblue;
}
h1 {
  text-align: center;
  font-family: 'Courier New', monospace;
  color: blue;
}

h2 {
  text-align: center;
  font-family: 'Courier New', monospace;
  color: white;
}
p {
  color: red;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}
.fa:hover {
  opacity: 0.7;
}
/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color:#1a3e78;
}

/* Sections */
#header {
  /* ____ */
}

#main {
    /* ____ */
}

#footer {
    /* ____ */
}


/* Custom Classes */
.top {margin-top:0;padding-top:0;}
.right {float:right !important;}
.bottom {margin-bottom:0;padding-bottom:0;}
.left {float:left !important;}
