body {
  background-color: #feede7;
}
h1 {
  text-align: center;
  font-family: 'Courier New', monospace;
  color: #332b16;
}

h2 {
  text-align: center;
  font-family: 'Courier New', monospace;
  color: #332b16;
}
p {
  font-family: 'Courier New', monospace;
  color: #332b16;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.fa:hover {
  opacity: 0.7;
}
/* Twitter */
.fa-twitter {
  text-align: center;
  background: #ac7861;
  color:#332b16;
}

/* Instagram */
.fa-instagram {
  text-align: center;
  background: #ac7861;
  color:#332b16;
}
/* Tumblr */
.fa-tumblr {
  text-align: center;
  background: #ac7861;
  color:#332b16;
}

.container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
.button {
            background-color: #ac7861;
            color: white;
            padding: 15px 30px;
            margin: 10px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 18px;
            border-radius: 8px;
            transition: background-color 0.3s;
        }
.button:hover {
            background-color: #332b16;
        }
/* Sections */
#header {
  padding: 30px;
  font-size: 40px;
  width: 40px;
  border-radius: 10%;
  color: #ac7861;
  text-align: center;
}

#main {
    /* ____ */
}

#footer {
    /* ____ */
}


/* Custom Classes */
.top {margin-top:0;padding-top:0;}
.right {float:right !important;}
.bottom {margin-bottom:0;padding-bottom:0;}
.left {float:left !important;}
